<!DOCTYPE HTML>
<html lang="en">
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    <h2 class='page-header'>Alumni</h2>



<body>
    <div class="container port-container">
        <!-- <?php
        //Columns must be a factor of 12 (1,2,3,4,6,12)
        $numOfCols = 3;
        $rowCount = 0;
        $bootstrapColWidth = 12 / $numOfCols;
        foreach ($rows as $row){
          if($rowCount % $numOfCols == 0) { ?> <div class="row"> <?php }
            $rowCount++; ?>
                <div class="col-md-<?php echo $bootstrapColWidth; ?>">
                    <div class="thumbnail">
                        <img src="assets/AnnaPhoto.png">
                    </div>
                </div>
        <?php
            if($rowCount % $numOfCols == 0) { ?> </div> <?php } } ?>
 -->

            <!-- <?-- <?php

        $numberOfColumns = 3;
        $bootstrapColWidth = 12 / $numberOfColumns ;

        $arrayChunks = array_chunk($items, $numberOfColumns);
        foreach($arrayChunks as $items) {
            echo '<div class="row">';
            foreach($items as $item) {
                echo '<div class="col-md-'.$bootstrapColWidth.'">';
                // your item
                <div class="thumbnail">
                    <img src="assets/AnnaPhoto.png">
                echo '</div>';
            }
            echo '</div>';
        }
    ?> -->

    <div class="row">
        {% for person in alumni  %} <!-- iterate through the matching alums -->
                <div  class="col-md-6 col-xs-3">
                    <h4 class='page-header name-header'>{{ person.name }}</h4>
                    <img src="{{site.baseurl}}/img/bio_img/{{person.photo}}"  class='img-responsive col-xs-2'/>
                    {% if person.website %}
                      <a href="{{person.website}}">Website</a> |
                      {% endif %}
                    {% if person.orcid %}
                      <a href="{{person.orcid}}">Orcid</a> |
                      {% endif %}
                    {% if person.email %}
                      <a href="mailto:{{person.email}}">Email</a>
                      {% endif %}
                </div>
          <!-- </div> -->
      {% endfor %}
    </div>

    <h3 class='page-header section-header'>Alumni</h3>
    <!-- do alumni now -->
    {% assign alumni = site.people | where:'role', 'Alumni' | sort:'seniority' %} <!-- select from the templates for undergrads -->
        <!-- <div class='row'> -->
    {% for person in alumni  %} <!-- iterate through the matching alums -->
            <div  class="col-md-6 col-xs-3">
                <h4 class='page-header name-header'>{{ person.name }}</h4>
                <img src="{{site.baseurl}}/img/bio_img/{{person.photo}}"  class='img-responsive col-xs-2'/>
                {% if person.website %}
                  <a href="{{person.website}}">Website</a> |
                  {% endif %}
                {% if person.orcid %}
                  <a href="{{person.orcid}}">Orcid</a> |
                  {% endif %}
                {% if person.email %}
                  <a href="mailto:{{person.email}}">Email</a>
                  {% endif %}
            </div>
      <!-- </div> -->
  {% endfor %}
  <!--  end alumni loop -->
  </div>


    <div class="row">
        <?php
    foreach ($rows as $row){
?>
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="assets/AnnaPhoto.png">
                </div>
            </div>
        }
    </div>


    </div>
</body>
